.login-form,
.create-acct-form {
    text-align: center;
    margin: 50px;
    max-width: 420px;
    min-width: 200px
}

.login-btn,
.create-acct-btn {
    width: 80%;
}

.create-acct {
    text-decoration: underline;
    color: blue;
}

.create-acct:hover {
    cursor: pointer;
}

a, .btn {
    cursor: pointer;
}

.nav-bar {
	width: 100%;
	height: 20px;
	background-color: red;
}

.navbar-brand {
    color: white;
}

.alert {
	width: 50%;
	margin: auto;
	float: right;
}

.modal-footer.gen-link {
	margin: auto;
}

.navbar-nav {
	margin-left: auto;
}

.main-container {
	margin: 25px;
}

.headline {
	margin-bottom: 20px;
}

input {
	max-width: 600px;
}

ul, li {
	list-style: none;
}

a,
a:hover {
	text-decoration: none;
	color: black;
	cursor: auto;
}

.fb-list {
	padding: 0;
	width: 80%;
	max-width: 600px;
}

.fb-container {
	margin-top: 35px;
}

.fb-group {
	font-size: 0.7em;
	text-align: left;
	margin: 0 0 5px 0;
	position: relative;
}

.fb-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}

.fb-item:hover, .fb-anchor:hover {
    cursor: pointer;
}

.fb-time {
	position: absolute;
	right: 0;
}

.anon-fb-success {
    margin: 200px 100px;
}

.anon-fb-success h2,
.anon-fb-success p {
    text-align: center;
}

.gen-link-title {
	margin-right: 15px;
}

.gen-link-group {
	margin-top: 5px;
}

.link {
	overflow-wrap: break-word;
	margin-top: 10px;
}

.group-list {
	padding: 0;
	width: 80%;
	max-width: 600px;
}

.group-item {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}

.fb-txt-area {
	margin-bottom: 10px;
}

.fb-btn {
    position: absolute;
    right: 20px;
}

.comment-item {
	margin-bottom: 10px
}

.gen-link-close {
	position: relative;
  top: -50px;
  right: -10px;
}

.gen-link-btn {
	margin-top: 15px;
}

.gen-link-form {
	text-align: center;
}

/* TEAM VIEW */

.team-table {
    margin-top: 50px;
}

.invite-team {
    margin-bottom: 25px
}

.invite-select {
    margin-top: -9px;
    margin-left: 15px;
}

.invite-btn {
    margin-left: 5px;
}

/* REACT-SELECT */

.Select-control {
    width: 175px;
    margin-left: 15px;
    position: relative;
    bottom: 4px;
    margin-right: 10px;
}

/* ALERTS */

/* Common, default styles for the notification box */

.s-alert-box,
.s-alert-box * {
    box-sizing: border-box;
}

.s-alert-box {
    position: fixed;
    background: rgba(42,45,50,0.85);
    padding: 22px;
    line-height: 1.4;
    z-index: 1000;
    pointer-events: none;
    color: rgba(250,251,255,0.95);
    font-size: 100%;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    max-width: 300px;
    -webkit-transition: top .4s, bottom .4s;
    transition: top .4s, bottom .4s;
}

.s-alert-box.s-alert-show {
    pointer-events: auto;
}

.s-alert-box a {
    color: inherit;
    opacity: 0.7;
    font-weight: 700;
}

.s-alert-box a:hover,
.s-alert-box a:focus {
    opacity: 1;
}

.s-alert-box p {
    margin: 0;
}

.s-alert-box.s-alert-show,
.s-alert-box.s-alert-visible {
    pointer-events: auto;
}

.s-alert-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.s-alert-close:hover,
.s-alert-close:focus {
    outline: none;
}

.s-alert-close::before,
.s-alert-close::after {
    content: '';
    position: absolute;
    width: 3px;
    height: 60%;
    top: 50%;
    left: 50%;
    background: #fff;
}

.s-alert-close:hover::before,
.s-alert-close:hover::after {
    background: #fff;
}

.s-alert-close::before {
    -webkit-transform: translate(-50%,-50%) rotate(45deg);
    transform: translate(-50%,-50%) rotate(45deg);
}

.s-alert-close::after {
    -webkit-transform: translate(-50%,-50%) rotate(-45deg);
    transform: translate(-50%,-50%) rotate(-45deg);
}

/* positions */

.s-alert-bottom-left {
    top: auto;
    right: auto;
    bottom: 30px;
    left: 30px;
}
.s-alert-top-left {
    top: 30px;
    right: auto;
    bottom: auto;
    left: 30px;
}
.s-alert-top-right {
    top: 30px;
    right: 30px;
    bottom: auto;
    left: auto;
}
.s-alert-bottom-right { /*default*/
    top: auto;
    right: 30px;
    bottom: 30px;
    left: auto;
}
.s-alert-bottom {
    width: 100%;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
}
.s-alert-top {
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

/* conditions */

.s-alert-info {
    background: #00A2D3;
    color: #fff;
}
.s-alert-success {
    background: #4bd786;
    color: #fff;
}
.s-alert-warning {
    background: #F1C40F;
    color: #fff;
}
.s-alert-error {
    background: #E74C3C;
    color: #fff;
}

[class^="s-alert-effect-"].s-alert-hide,
[class*=" s-alert-effect-"].s-alert-hide {
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

/* height measurement helper */
.s-alert-box-height {
    visibility: hidden;
    position: fixed;
}

/* Scale */

.s-alert-effect-scale a {
    color: #fff;
}

.s-alert-effect-scale a:hover,
.s-alert-effect-scale a:focus {
    color: #fff;
}

.s-alert-effect-scale .s-alert-close::before,
.s-alert-effect-scale .s-alert-close::after {
    background: #fff;
}

.s-alert-effect-scale .s-alert-close:hover::before,
.s-alert-effect-scale .s-alert-close:hover::after {
    background: #fff;
}

.s-alert-effect-scale.s-alert-show,
.s-alert-effect-scale.s-alert-hide {
    -webkit-animation-name: animScale;
    animation-name: animScale;
    -webkit-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

@-webkit-keyframes animScale {
    0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}

@keyframes animScale {
    0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
    100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); transform: translate3d(0,0,0) scale3d(1,1,1); }
}
